
{% block content_right_content %}
{% if alert is defined %}
  <div class="alert alert-info" role="alert">
    {{ alert }}
  </div>
{% endif %}
{% if repuestos is defined %}
    {% if busqueda is defined %}
    {% if busqueda == false %}
      <h2 style="text-align:left;">Pedido</h2>
    {% endif %}
    {% if busqueda == true %}
      <div>
        <strong>Filtrar por:</strong></br>
          <input id="lavarropaButton" type="checkbox" value="" />Lavarropa
          <input id="lavavajillaButton" type="checkbox" value="" />Lavavajilla
          <input id="aireAcondicionadoButton" type="checkbox" value="">Aire acondicionado
          </br>
          <input id="cocinaButton" type="checkbox" value="">
          Cocina
          <input id="microondasButton" type="checkbox" value="">
          Microondas
      </div>
    {% endif %}
  {% endif %}
<table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Codigo</th>
          <th>Nombre</th>
          <th>Precio</th>
          <th>Stock</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
      	{% for repuesto in repuestos %}

          {% if repuesto.categoria == 0 %}
            {% set categoria = "lavarropa" %}
          {% endif %}
          {% if repuesto.categoria == 1 %}
            {% set categoria = "lavavajilla" %}
          {% endif %}
          {% if repuesto.categoria == 2 %}
            {% set categoria = "aireAcondicionado" %}
          {% endif %}
          {% if repuesto.categoria == 3 %}
            {% set categoria = "cocina" %}
          {% endif %}
          {% if repuesto.categoria == 4 %}
            {% set categoria = "microondas" %}
          {% endif %}
            <tr class="{{ repuesto.categoria }}">
              <th scope="row">{{ loop.index }}</th>
              <td>{{ repuesto.codigo }}</td>
              <td>{{ repuesto.nombre }}</td>
              <td>{{ repuesto.precioVenta }}</td>
              <td>{{ repuesto.idPedido }}</td>
              <td>
              {% if busqueda == true %}
                <a href="/repuestos/modificar/{{ repuesto.id }}"><span style="padding-right:10px;" class="glyphicon glyphicon-pencil"> </span><a id="{{ repuesto.id }}usd" href="javascript:void(0)"><span class="glyphicon glyphicon-usd" style="padding-right:10px;"> </span></a>
                <a href="/repuestos/borrar/{{ repuesto.id }}"><span class="glyphicon glyphicon-remove" style="padding-right:5px;" ></span></a>
              {% endif %}
              {% if busqueda == false %}
                <a href="/ventas/pedido/borrar/{{ repuesto.id }}"><span class="glyphicon glyphicon-remove" style="padding-right:5px;" ></span></a>
              {% endif %}
              </td>
                <td id="{{ repuesto.id }}cantidadSearch" style="display:none;">
                  <div class="input-group" style="width:100px; height:20px;">
                    <form id="{{ repuesto.id }}Form" method="post" action="/repuestos/vender/">
                      <input type="hidden" name="idRepuesto" value="{{ repuesto.id }}" />
                      <input style="width:60px; height:22px; padding-top:2px; padding-bottom:2px;" name="cantidadRepuesto" type="text" class="form-control" placeholder="Cant..." required />
                      <span class="input-group-btn" style="width:30px; height:20px;">
                        <button id="{{ repuesto.id }}SubmitButton" class="btn btn-default" style="padding-top:0; padding-bottom:0;" type="button">$</button>
                    </form>
                  </span>
                </div>
                </td>
            </tr> 
    <script>
    /*
      Una vez realizada la busqueda se envian
      los datos del formulario mediante ajax
      al controlador correspondiente.
      El controlador devuelve una respuesta
      que se imprime en #outputTwo
    */       
          $("#{{ repuesto.id }}Form").submit(function(event){
                var value = $("#{{ repuesto.id }}cantidadSearch input").val();
                var cantidadValue = $("#{{ repuesto.id }}cantidadSearch .form-control").val();
                $.ajax({
                    type: "POST",
                    data: { idRepuesto: value, cantidad: cantidadValue },
                    url: "/ventas/pedido/temporal/"
                })
                .done(function(response){
                  alert(response);
                  // alert(JSON.stringify(response,null,4) );
                    template = response;
                    $('#outputTwo').html(template);
                event.preventDefault();
                })
                .fail(function(jqXHR, textStatus, errorThrown){
                  console.log(errorThrown);
                    alert('Error : ' + errorThrown);
                });
                event.preventDefault();
            });
      $(document).ready(function(){
        $("#{{ repuesto.id }}usd").click(function(){
          $("#{{ repuesto.id }}cantidadSearch").show();
          $("#{{ repuesto.id }}cantidadSearch input").focus();
        });

      });
    </script>



    	{% endfor %}
      </tbody>
    </table>
    <script>
    $("input").click(function(){
      if($("#lavarropaButton").is(':checked')){
          $(".lavarropa").show();
      }
      else{
        $(".lavarropa").hide();
      }
      if($("#lavavajillaButton").is(':checked')){
          $(".lavavajilla").show();
      }
      else{
        $(".lavavajilla").hide();
      }
      if($("#aireAcondicionadoButton").is(':checked')){
          $(".aireAcondicionado").show();
      }
      else{
        $(".aireAcondicionado").hide();
      }
      if($("#cocinaButton").is(':checked')){
          $(".cocina").show();
      }
      else{
        $(".cocina").hide();
      }
      if($("#microondasButton").is(':checked')){
          $(".microondas").show();
      }
      else{
        $(".microondas").hide();
      }
    });
    </script>
{% endif %}
{% endblock content_right_content %}