{% extends "AcmeDemoTwoBundle:Repuestos:index.html.twig" %}

{% block title_right_content %}
Lista de repuestos
{% endblock title_right_content %}
{% block content_right_content %}
  {% if removeSuccess is defined %}
    <div class="alert alert-success" role="alert">
      Repuesto eliminado con exito.
    </div>
    {{ success }}
  {% endif %}
  <div>
    <strong>Filtrar por:</strong></br>
      <input id="lavarropaButton" type="checkbox" value="" />Lavarropa
      <input id="lavavajillaButton" type="checkbox" value="" />Lavavajilla
      <input id="aireAcondicionadoButton" type="checkbox" value="">Aire acondicionado
      </br>
      <input id="cocinaButton" type="checkbox" value="">
      Cocina
      <input id="microondasButton" type="checkbox" value="">
      Microondas
      <input id="heladerasButton" type="checkbox" value="">
      Heladera
      <input id="hornoButton" type="checkbox" value="">
      Horno
      <input id="anafeButton" type="checkbox" value="">
      Anafe
      <input id="freezerButton" type="checkbox" value="">
      Freezer
      <br>
      <input id="purificadorButton" type="checkbox" value="">
      Purificador de aire
      <input id="termoButton" type="checkbox" value="">
      termotanque
      <input id="calefonButton" type="checkbox" value="">
      calefon
      <input id="electrodomesticoButton" type="checkbox" value="">
      Electrodomestico
  </div>
<table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Codigo</th>
          <th>Nombre</th>
          <th>Precio</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
      	{% for repuesto in repuestos %}

          {% if repuesto.categoria == 0 %}
            <tr id="{{ repuesto.id }}" class="lavarropa">
              <th scope="row">{{ loop.index }}</th>
              <td>{{ repuesto.codigo }}</td>
              <td>{{ repuesto.nombre }}</td>
              <td>{{ repuesto.precioVenta }}</td>
              <td><a href="/repuestos/modificar/{{ repuesto.id }}"><span style="padding-right:10px;" class="glyphicon glyphicon-pencil"> </span><a href="/repuestos/borrar/{{ repuesto.id }}"><span class="glyphicon glyphicon-remove" style="padding-right:5px;" ></span></a>
                <td id="{{ repuesto.id }}cantidadSearch" style="display:none;">
                  <div class="input-group" style="width:100px; height:20px;">
                    <form id="{{ repuesto.id }}Form" method="post" action="/repuestos/vender/">
                      <input type="hidden" name="idRepuesto" value="{{ repuesto.id }}" />
                      <input style="width:60px; height:22px; padding-top:2px; padding-bottom:2px;" name="cantidadRepuesto" type="text" class="form-control" placeholder="Cant..." required />
                      <span class="input-group-btn" style="width:30px; height:20px;">
                        <button id="{{ repuesto.id }}SubmitButton" class="btn btn-default" style="padding-top:0; padding-bottom:0;" type="button">$</button>
                    </form>
                  </span>
                </div>
                </td>
              </td>
            </tr>
          {% endif %} {# lavarropa #}

          {% if repuesto.categoria == 1 %}
            <tr class="lavavajilla">
              <th scope="row">{{ loop.index }}</th>
              <td>{{ repuesto.codigo }}</td>
              <td>{{ repuesto.nombre }}</td>
              <td>{{ repuesto.precioVenta }}</td>
              <td><a href="/repuestos/modificar/{{ repuesto.id }}"><span style="padding-right:10px;" class="glyphicon glyphicon-pencil"> </span> <a href="/repuestos/borrar/{{ repuesto.id }}"><span class="glyphicon glyphicon-remove" style="padding-right:5px;" ></span></a></td>
            </tr>
          {% endif %} {# lavavajilla #}

          {% if repuesto.categoria == 2 %}
            <tr class="aireAcondicionado">
              <th scope="row">{{ loop.index }}</th>
              <td>{{ repuesto.codigo }}</td>
              <td>{{ repuesto.nombre }}</td>
              <td>{{ repuesto.precioVenta }}</td>
              <td><a href="/repuestos/modificar/{{ repuesto.id }}"><span style="padding-right:10px;" class="glyphicon glyphicon-pencil"> </span> <a href="/repuestos/borrar/{{ repuesto.id }}"><span class="glyphicon glyphicon-remove" style="padding-right:5px;" ></span></a></td>
            </tr>
          {% endif %} {# aire acondicionado #}

          {% if repuesto.categoria == 3 %}
            <tr class="cocina">
              <th scope="row">{{ loop.index }}</th>
              <td>{{ repuesto.codigo }}</td>
              <td>{{ repuesto.nombre }}</td>
              <td>{{ repuesto.precioVenta }}</td>
              <td><a href="/repuestos/modificar/{{ repuesto.id }}"><span style="padding-right:10px;" class="glyphicon glyphicon-pencil"> </span> <a href="/repuestos/borrar/{{ repuesto.id }}"><span class="glyphicon glyphicon-remove" style="padding-right:5px;" ></span></a></td>
            </tr>
          {% endif %} {# cocina #}

          {% if repuesto.categoria == 4 %}
            <tr class="microondas">
              <th scope="row">{{ loop.index }}</th>
              <td>{{ repuesto.codigo }}</td>
              <td>{{ repuesto.nombre }}</td>
              <td>{{ repuesto.precioVenta }}</td>
              <td><a href="/repuestos/modificar/{{ repuesto.id }}"><span style="padding-right:10px;" class="glyphicon glyphicon-pencil"> </span> <a href="/repuestos/borrar/{{ repuesto.id }}"><span class="glyphicon glyphicon-remove" style="padding-right:5px;" ></span></a></td>
            </tr>
          {% endif %} {# microondas #}

          {% if repuesto.categoria == 5 %}
            <tr class="heladeras">
              <th scope="row">{{ loop.index }}</th>
              <td>{{ repuesto.codigo }}</td>
              <td>{{ repuesto.nombre }}</td>
              <td>{{ repuesto.precioVenta }}</td>
              <td><a href="/repuestos/modificar/{{ repuesto.id }}"><span style="padding-right:10px;" class="glyphicon glyphicon-pencil"> </span> <a href="/repuestos/borrar/{{ repuesto.id }}"><span class="glyphicon glyphicon-remove" style="padding-right:5px;" ></span></a></td>
            </tr>
          {% endif %} {# heladeras #}

          {% if repuesto.categoria == 6 %}
            <tr class="secarropa">
              <th scope="row">{{ loop.index }}</th>
              <td>{{ repuesto.codigo }}</td>
              <td>{{ repuesto.nombre }}</td>
              <td>{{ repuesto.precioVenta }}</td>
              <td><a href="/repuestos/modificar/{{ repuesto.id }}"><span style="padding-right:10px;" class="glyphicon glyphicon-pencil"> </span> <a href="/repuestos/borrar/{{ repuesto.id }}"><span class="glyphicon glyphicon-remove" style="padding-right:5px;" ></span></a></td>
            </tr>
          {% endif %} {# secarropa #}

          {% if repuesto.categoria == 7 %}
            <tr class="electrodomestico">
              <th scope="row">{{ loop.index }}</th>
              <td>{{ repuesto.codigo }}</td>
              <td>{{ repuesto.nombre }}</td>
              <td>{{ repuesto.precioVenta }}</td>
              <td><a href="/repuestos/modificar/{{ repuesto.id }}"><span style="padding-right:10px;" class="glyphicon glyphicon-pencil"> </span> <a href="/repuestos/borrar/{{ repuesto.id }}"><span class="glyphicon glyphicon-remove" style="padding-right:5px;" ></span></a></td>
            </tr>
          {% endif %} {# electrodomestico #}

          {% if repuesto.categoria == 8 %}
            <tr class="horno">
              <th scope="row">{{ loop.index }}</th>
              <td>{{ repuesto.codigo }}</td>
              <td>{{ repuesto.nombre }}</td>
              <td>{{ repuesto.precioVenta }}</td>
              <td><a href="/repuestos/modificar/{{ repuesto.id }}"><span style="padding-right:10px;" class="glyphicon glyphicon-pencil"> </span> <a href="/repuestos/borrar/{{ repuesto.id }}"><span class="glyphicon glyphicon-remove" style="padding-right:5px;" ></span></a></td>
            </tr>
          {% endif %} {# horno #}

          {% if repuesto.categoria == 9 %}
            <tr class="anafe">
              <th scope="row">{{ loop.index }}</th>
              <td>{{ repuesto.codigo }}</td>
              <td>{{ repuesto.nombre }}</td>
              <td>{{ repuesto.precioVenta }}</td>
              <td><a href="/repuestos/modificar/{{ repuesto.id }}"><span style="padding-right:10px;" class="glyphicon glyphicon-pencil"> </span> <a href="/repuestos/borrar/{{ repuesto.id }}"><span class="glyphicon glyphicon-remove" style="padding-right:5px;" ></span></a></td>
            </tr>
          {% endif %} {# anafe #}

          {% if repuesto.categoria == 10 %}
            <tr class="freezer">
              <th scope="row">{{ loop.index }}</th>
              <td>{{ repuesto.codigo }}</td>
              <td>{{ repuesto.nombre }}</td>
              <td>{{ repuesto.precioVenta }}</td>
              <td><a href="/repuestos/modificar/{{ repuesto.id }}"><span style="padding-right:10px;" class="glyphicon glyphicon-pencil"> </span> <a href="/repuestos/borrar/{{ repuesto.id }}"><span class="glyphicon glyphicon-remove" style="padding-right:5px;" ></span></a></td>
            </tr>
          {% endif %} {# freezer #}

          {% if repuesto.categoria == 11 %}
            <tr class="purificador">
              <th scope="row">{{ loop.index }}</th>
              <td>{{ repuesto.codigo }}</td>
              <td>{{ repuesto.nombre }}</td>
              <td>{{ repuesto.precioVenta }}</td>
              <td><a href="/repuestos/modificar/{{ repuesto.id }}"><span style="padding-right:10px;" class="glyphicon glyphicon-pencil"> </span> <a href="/repuestos/borrar/{{ repuesto.id }}"><span class="glyphicon glyphicon-remove" style="padding-right:5px;" ></span></a></td>
            </tr>
          {% endif %} {# purificador #}

          {% if repuesto.categoria == 12 %}
            <tr class="termo">
              <th scope="row">{{ loop.index }}</th>
              <td>{{ repuesto.codigo }}</td>
              <td>{{ repuesto.nombre }}</td>
              <td>{{ repuesto.precioVenta }}</td>
              <td><a href="/repuestos/modificar/{{ repuesto.id }}"><span style="padding-right:10px;" class="glyphicon glyphicon-pencil"> </span> <a href="/repuestos/borrar/{{ repuesto.id }}"><span class="glyphicon glyphicon-remove" style="padding-right:5px;" ></span></a></td>
            </tr>
          {% endif %} {# termotanque #}

          {% if repuesto.categoria == 13 %}
            <tr class="calefon">
              <th scope="row">{{ loop.index }}</th>
              <td>{{ repuesto.codigo }}</td>
              <td>{{ repuesto.nombre }}</td>
              <td>{{ repuesto.precioVenta }}</td>
              <td><a href="/repuestos/modificar/{{ repuesto.id }}"><span style="padding-right:10px;" class="glyphicon glyphicon-pencil"> </span> <a href="/repuestos/borrar/{{ repuesto.id }}"><span class="glyphicon glyphicon-remove" style="padding-right:5px;" ></span></a></td>
            </tr>
          {% endif %} {# calefon #}

    <script>
    $("#{{ repuesto.id }}SubmitButton").click(function(){
        $("#{{ repuesto.id }}Form").submit();
    });
    $("#{{ repuesto.id }}usd").click(function(){
      $("#{{ repuesto.id }}cantidadSearch").show();
      $("#{{ repuesto.id }}cantidadSearch input").focus();
    });
    </script>

    	{% endfor %}
      </tbody>
    </table>
    <script>
    $("input").click(function(){
      if($("#lavarropaButton").is(':checked')){
          $(".lavarropa").show();
      }
      else{
        $(".lavarropa").hide();
      }
      if($("#lavavajillaButton").is(':checked')){
          $(".lavavajilla").show();
      }
      else{
        $(".lavavajilla").hide();
      }
      if($("#aireAcondicionadoButton").is(':checked')){
          $(".aireAcondicionado").show();
      }
      else{
        $(".aireAcondicionado").hide();
      }
      if($("#cocinaButton").is(':checked')){
          $(".cocina").show();
      }
      else{
        $(".cocina").hide();
      }
      if($("#microondasButton").is(':checked')){
          $(".microondas").show();
      }
      else{
        $(".microondas").hide();
      }
      if($("#heladerasButton").is(':checked')){
          $(".heladeras").show();
      }
      else{
        $(".heladeras").hide();
      }
      if($("#secarropaButton").is(':checked')){
          $(".secarropa").show();
      }
      else{
        $(".secarropa").hide();
      }
      if($("#electrodomesticoButton").is(':checked')){
          $(".electrodomestico").show();
      }
      else{
        $(".electrodomestico").hide();
      }
      if($("#hornoButton").is(':checked')){
          $(".horno").show();
      }
      else{
        $(".horno").hide();
      }
      if($("#anafeButton").is(':checked')){
          $(".anafe").show();
      }
      else{
        $(".anafe").hide();
      }
      if($("#freezerButton").is(':checked')){
          $(".freezer").show();
      }
      else{
        $(".freezer").hide();
      }
      if($("#purificadorButton").is(':checked')){
          $(".purificador").show();
      }
      else{
        $(".purificador").hide();
      }
      if($("#termoButton").is(':checked')){
          $(".termo").show();
      }
      else{
        $(".termo").hide();
      }
      if($("#calefonButton").is(':checked')){
          $(".calefon").show();
      }
      else{
        $(".calefon").hide();
      }
    });
    </script>
{% endblock content_right_content %}

{% block inicio_active %} {% endblock inicio_active %}
{% block lista_repuestos_active %} active {% endblock lista_repuestos_active %}